@page "/about"

<PageTitle>About</PageTitle>
<h3>About</h3>

<main>
    <div id="firstSectione">
            <div class="grid-container">
                <div class="item1">Best Healthy Food at the Zone</div>
            </div>
            <div class="container">
                <div class="mision2">
                    <div class="row">
                        <div class="col-12 col-md-6 col-log-3 board1">
                            <p class="text">About Us</p>
                        <p class="text5">FoodBox is a pick up delivery resturant.We offer a fast and healthy alternative</p>
                        </div>
                        <div class="col-12 col-md-6 col-log-3 board1">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <img src="Images/favoriteorders/order-1.png" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="Images/favoriteorders/order-1.png" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="Images/favoriteorders/order-1.png" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</main>
<div class="hov">
    <p><center>FoodBox is a pick up delivery resturant.</center></p>
    <p><center>We offer a fast and healthy alternative.</center></p>
    <p><center>Contribute to health and wellness of employees.</center></p>
    <p><center>Change the social norms to create expectations for healthier food and beverage availability.</center></p>
    <p><center>Strengthen local food systems.</center></p>
    <p><center>Improve facility management of natural resources.</center></p>
    <p><center>Increase energy efficiency.</center></p>
    <p><center>Reduce harmful environmental impact.</center></p>
</div>


@code {

}
