@page "/about"

<PageTitle>About</PageTitle>
<h3>About</h3>



<div class="container">
    <div>
        <div class="content">
            <h2>Tomato Rosemary</h2>
        </div>
    </div>
    <div>
        <div class="content">
            <h2>Sushi</h2>
        </div>
    </div>
    <div>
        <div class="content">
            <h2>Salmon</h2>
        </div>
    </div>
    <div>
        <div class="content">
            <h2>Spinach</h2>
        </div>
    </div>
</div>

<div class="container1">
        <h1>About FoodBox</h1>

        <p>Discover a world of delightful flavors at FoodBox, your go-to restaurant for a healthy and satisfying dining experience. We are dedicated to serving you the finest dishes crafted with care and passion.</p>

        <p><strong>Why FoodBox?</strong> We are committed to providing high-quality, healthy food options that you can enjoy. <img src="/Images/store.webp" class="text" alt="FoodBox Store"></p>

        <p>At FoodBox, we take pride in offering a diverse menu of health-conscious food options. Our commitment extends beyond the plate to create a dining experience that nourishes both body and soul.</p>

        <div class="ourRest">
            <img src="/Images/restaurant_seat" alt="Restaurant">
        </div>

        <h2>Opening Hours</h2>
        <div class="openingHours">
            <div>
                <p>Mon & Tue: CLOSED</p>
                <p>Wednesday: 10:00 - 24:00</p>
                <p>Thursday: 10:00 - 24:00</p>
            </div>
            <div>
                <p>Friday: 10:00 - 12:00</p>
                <p>Saturday: 10:00 - 23:00</p>
                <p>Sunday: Closed</p>
            </div>
        </div>

        <div class="ptags">
        </div>
    </div>
@code {

}
