@page "/about"

<PageTitle>About</PageTitle>
<h3>About</h3>



<div class="container">
    <div>
        <div class="content">
            <h2>Tomato Rosemary</h2>
        </div>
    </div>
    <div>
        <div class="content">
            <h2>Sushi</h2>
        </div>
    </div>
    <div>
        <div class="content">
            <h2>Salmon</h2>
        </div>
    </div>
    <div>
        <div class="content">
            <h2>Spinach</h2>
        </div>
    </div>
</div>

<div class="ptags">
    <p><center>FoodBox is a pick up delivery resturant.</center></p>
    <p><center>We offer a fast and healthy alternative.</center></p>
    <p><center>Contribute to health and wellness of employees.</center></p>
    <p><center>Change the social norms to create expectations for healthier food and beverage availability.</center></p>
    <p><center>Strengthen local food systems.</center></p>
    <p><center>Improve facility management of natural resources.</center></p>
    <p><center>Increase energy efficiency.</center></p>
    <p><center>Reduce harmful environmental impact.</center></p>
</div>


@code {

}
