@page "/about"

<PageTitle>About</PageTitle>
<h3>About</h3>



<div class="container">
    <div>
        <div class="content">
            <h2>Tomato Rosemary</h2>
        </div>
    </div>
    <div>
        <div class="content">
            <h2>Sushi</h2>
        </div>
    </div>
    <div>
        <div class="content">
            <h2>Salmon</h2>
        </div>
    </div>
    <div>
        <div class="content">
            <h2>Spinach</h2>
        </div>
    </div>
</div>

<body>
    <h1 class="aboutPage">About FoodBox</h1>

    <p>FoodBox is a pickup and delivery restaurant contributing to the health and wellness of individuals. We aim to change social norms by creating expectations for healthier food and beverage options, while also focusing on improving facility management of natural resources, increasing energy efficiency, and reducing harmful environmental impact.</p>

    <p><strong>Why FoodBox?</strong> FoodBox is committed to providing high-quality, healthy food options that you can enjoy. <img src="/Images/store.webp" style="width:150px" class="text"></p>

    <p>We take pride in offering a diverse menu of health-conscious food options. Our commitment extends beyond the plate to create a dining experience that nourishes both body and soul.</p>

    <div class="ourRest">
        <img src="/Images/interior.jpeg" style="width:100%" alt="Restaurant">
    </div>

    <h1><b>Opening Hours</b></h1>
    <div class="openingHours w3-row">
        <div class="w3-half">
            <p>Mon & Tue: CLOSED</p>
            <p>Wednesday: 10:00 - 24:00</p>
            <p>Thursday: 10:00 - 24:00</p>
        </div>
        <div class="w3-half">
            <p>Friday: 10:00 - 12:00</p>
            <p>Saturday: 10:00 - 23:00</p>
            <p>Sunday: Closed</p>
        </div>
    </div>
    <div class="ptags">
    </div>

</body>
@code {

}
