@page "/Confirmation"

<PageTitle>Confirmation</PageTitle>

<h3>Thank you for your purchase!! It will be ready in 10 - 30 minutes, and the delivery time will be about 5 - 10 minutes if you are not picking it up from the store</h3>
@*Yes Jonathan, it does not depend on the address given, but our rubric only says that it will give them a time, not a calculating time*@

