@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <img class="img" src="images/banner 1.png"/>
    @* <Button Color="ButtonColor.Primary" Size="Size.Large"> Large button </Button> *@
    <NavLink class="nav-link" href="order" Match="NavLinkMatch.All">
    <button class="btn" href="order">Order Now!</button>
    </NavLink>
</div>

<!-- order_area_start -->
<div class="order_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-70">
                    <h3>Popular Orders</h3>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="single_order">
                    <div class="order_thumb">
                        <img src="images/favoriteorders/order-1.png" alt="">
                        <div class="order_prise">
                            <span>10.00</span>
                        </div>
                    </div>
                    <div class="order_info">
                        <h3><a href="#">Mediterranean Salad</a></h3>
                        <p>
                            Naan | Peas | Olives | Peppers | Mixed Vegetables <br>
                            Delicious Salad! <br>
                        </p>
                        <a href="#" class="boxed_btn">Order Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_order">
                    <div class="order_thumb">
                        <img src="images/favoriteorders/order-2.png" alt="">
                        <div class="order_prise">
                            <span>10.00</span>
                        </div>
                    </div>
                    <div class="order_info">
                        <h3><a href="#">Sirloin Steak</a></h3>
                        <p>
                            Medium Rare Steak | Or Your Choice Cooked <br>
                            Grilled Tomatoes | Other Veggies<br>
                        </p>
                        <a href="#" class="boxed_btn">Order Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_order">
                    <div class="order_thumb">
                        <img src="images/favoriteorders/order-3.png" alt="">
                        <div class="order_prise">
                            <span>10.00</span>
                        </div>
                    </div>
                    <div class="order_info">
                        <h3><a href="#">Chicken Shawarma</a></h3>
                        <p>
                            Grilled Chicken | Falafel <br>
                            Mixed Vegetable <br>
                        </p>
                        <a href="#" class="boxed_btn">Order Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_order">
                    <div class="order_thumb">
                        <img src="images/favoriteorders/order-4.png" alt="">
                        <div class="order_prise">
                            <span>10.00</span>
                        </div>
                    </div>
                    <div class="order_info">
                        <h3><a href="#">Oven Roasted Salmon</a></h3>
                        <p>
                            Perfectly Roasted Salmon! <br>
                            Salad On The Side! <br>
                        </p>
                        <a href="#" class="boxed_btn">Order Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_order">
                    <div class="order_thumb">
                        <img src="images/favoriteorders/order-5.png" alt="">
                        <div class="order_prise">
                            <span>10.00</span>
                        </div>
                    </div>
                    <div class="order_info">
                        <h3><a href="#">Blackberry Dreamsicle</a></h3>
                        <p>
                            Perfectly Frozen Ice Cream <br>
                            With Blackberries On The Side<br>
                        </p>
                        <a href="#" class="boxed_btn">Order Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_order">
                    <div class="order_thumb">
                        <img src="images/favoriteorders/order-6.png" alt="">
                        <div class="order_prise">
                            <span>10.00</span>
                        </div>
                    </div>
                    <div class="order_info">
                        <h3><a href="#">Sourdough Bread</a></h3>
                        <p>
                            Perfectly Baked Sourdough<br>
                            Salt and Grain On The Side<br>
                        </p>
                        <a href="#" class="boxed_btn">Order Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- order_area_end -->
