.container {
    position: relative;
    width: 100%;
}

    .container img {
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .container .btn {
        position: absolute;
        top: 62.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        font-size: 24px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

        .container .btn:hover {
            background-color: #28a745;
            color: black;
        }

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: darkred;
}

.img {
    max-width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a,
.button {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    a:focus,
    .button:focus, button:focus {
        text-decoration: none;
        outline: none;
    }

    a:focus {
        color: #fff;
        text-decoration: none;
    }

    a:focus,
    a:hover,
    .portfolio-cat a:hover,
    .footer -menu li a:hover {
        text-decoration: none;
        color: #000;
    }

a,
button {
    color: #020c26;
    outline: medium none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Josefin Sans', sans-serif;
    color: #000000;
}

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        color: inherit;
    }

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #777777;
    margin-bottom: 13px;
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    font-size: 24px;
}


.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.boxed_btn {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    padding: 18px 39px;
    border: 2px solid #78b454;
    text-transform: capitalize;
}

    .boxed_btn:hover {
        background: #78b454;
        color: #fff;
    }

.boxed-btn {
    color: #78b454 !important;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    padding: 18px 39px;
    border: 2px solid #78b454;
    text-transform: capitalize;
    cursor: pointer;
    background: #fff;
}

    .boxed-btn:hover {
        background: #78b454;
        color: #fff !important;
    }

/*This is from the Whole page, kind of th body*/
.order_area {
    padding-top: 150px;
    padding-bottom: 90px;
}

@media (max-width: 767px) {
    .order_area {
        padding-top: 60px;
        padding-bottom: 0px;
    }
}

.order_area .single_order {
    margin-bottom: 60px;
}

    .order_area .single_order .order_thumb {
        position: relative;
    }

        .order_area .single_order .order_thumb img {
            width: 100%;
        }

        .order_area .single_order .order_thumb .order_prise {
            position: absolute;
            right: 10px;
            bottom: 10px;
            background: #fff;
            color: #78b454;
            padding: 17px 21px 13px 24px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 0;
            line-height: 18px;
        }

            .order_area .single_order .order_thumb .order_prise span {
                position: relative;
            }

                .order_area .single_order .order_thumb .order_prise span::before {
                    position: absolute;
                    content: "$";
                    left: -5px;
                    top: -1px;
                    color: #78b454;
                    font-size: 10px;
                }

    .order_area .single_order .order_info h3 a {
        font-size: 24px;
        color: #000;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 600;
        display: block;
        margin-top: 38px;
        margin-bottom: 16px;
    }

    .order_area .single_order .order_info p {
        font-size: 16px;
        line-height: 28px;
        color: #777777;
        margin-bottom: 0;
        margin-bottom: 30px;
    }

    .order_area .single_order .order_thumb .order_like {
        position: absolute;
        left: 10px;
        bottom: 10px;
        background: #fff;
        color: orangered;
        padding: 17px 21px 13px 24px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 0;
        line-height: 18px;
    }

    .order_area .single_order .order_thumb .order_love {
        position: absolute;
        left: 10px;
        bottom: 10px;
        background: orangered;
        color: #fff;
        padding: 17px 21px 13px 24px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 0;
        line-height: 18px;
    }
/*This is from the Title*/
.section_title h3 {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    color: #000000;
    margin-bottom: 18px;
}

@media (max-width: 767px) {
    .section_title h3 {
        font-size: 38px;
        line-height: 46px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section_title h3 {
        font-size: 48px;
        line-height: 56px;
    }
}

.section_title p {
    font-weight: 300;
    color: #777777;
    margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    .section_title p br {
        display: none;
    }
}

.section_title.white h3, .section_title.white p {
    color: #fff;
}











/*https://codepen.io/krisantuswanandi/pen/KxrgeZ*/



*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%);
    font-size: 17px;
}

body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.background {
    display: flex;
    min-height: 8vh;
}

.container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
}

.screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
}

    .screen:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 15px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
        z-index: -1;
    }

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

    .screen-header-button.close {
        background: #ed1c6f;
    }

    .screen-header-button.maximize {
        background: #e8e925;
    }

    .screen-header-button.minimize {
        background: #74c54f;
    }

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

    .screen-body-item.left {
        display: flex;
        flex-direction: column;
    }

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: forestgreen;
    font-size: 26px;
}

    .app-title:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 25px;
        height: 4px;
        background: forestgreen;
    }

.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;
}

    .app-form-group.message {
        margin-top: 40px;
    }

    .app-form-group.buttons {
        margin-bottom: 0;
        text-align: right;
    }

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

    .app-form-control::placeholder {
        color: #666;
    }

    .app-form-control:focus {
        border-bottom-color: #ddd;
    }

.app-form-button {
    background: none;
    border: none;
    color: forestgreen;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

    .app-form-button:hover {
        color: greenyellow;
    }




@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

        .app-title span {
            margin-right: 12px;
        }

        .app-title:after {
            display: none;
        }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}
