@page "/policies"

<PageTitle>Policies</PageTitle>

<h3>FoodBox Policies</h3>


<div class="hov">
    <p><center> We pledge to be clean.</center></p>
    <p><center>We pledge to be fast.</center></p>
    <p><center>The other night I ate at a real nice family restaurant. Every table had an argument going.</center></p>
    <p><center>I went to a restaurant that serves 'breakfast at any time'. So I ordered French Toast during the Renaissance.</center></p>
    <p><center>A good restaurant is like a vacation; it transports you, and it becomes a lot more than just about the food.</center></p>
    @* <style>
    .hov {
    --s: 0.1em; /* the thickness of the line */
    --c: #2c4bff; /* the color */

    color: #0000;
    padding-bottom: var(--s);
    background: linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%, linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: 0.5s;
    }

    .hov :hover {
    --_p: 100%
    }


    /* body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-content: center;
    } */

    .hov {
    font-family: system-ui, sans-serif;
    font-size: 5rem;
    cursor: pointer;
    }
    </style> *@
</div>


@code{
}
